<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.hoangduy.medical">

    <application
        android:name="com.android.hoangduy.medical.MedicationApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_transform"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_transform"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shrine"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.android.hoangduy.medical.activity.MainActivity"
            android:theme="@style/Theme.Shrine">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.hoangduy.medical.activity.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullScreen" />
    </application>

</manifest>